{% extends 'base.html' %}

{% block title %}Unsubscribe - My Django App{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-6 col-lg-7 mx-auto"> <!-- Centered the column with mx-auto -->
            <main class="form-signin">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">Unsubscribe from Emails</h1>
                    <p class="text-center">To unsubscribe from emails, please enter your address below and press the button</p>

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
                        <label for="floatingInput">Email address</label>
                    </div>

                    {% if warning_message %}
                        <p class="text-danger text-center">{{ warning_message }}</p>
                    {% endif %}

                    {% if success_message %}
                        <p class="text-success text-center">{{ success_message }}</p>
                    {% endif %}

                    <button class="btn btn-primary w-100 py-2" type="submit">Unsubscribe</button>
                </form>
            </main>
        </div>
    </div>
</div>
{% endblock %}
